<h3 id="tocS_NotificationTypeVoteUp">NotificationTypeVoteUp</h3>
<!-- backwards compatibility -->
<a id="schemanotificationtypevoteup"></a>
<a id="schema_NotificationTypeVoteUp"></a>
<a id="tocSnotificationtypevoteup"></a>
<a id="tocsnotificationtypevoteup"></a>

```json
{
  "is_new": true,
  "sid": 16053709616960000000063090,
  "type": "vote_up",
  "active_at": "2020-11-14T17:52:20.967302+01:00",
  "discussion": {...},
  "post": {...},
  "comment": {...}
}
```

Example preview:

<%= image_tag "notification_types/voteup.png" %>

#### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|is_new|boolean|true|read-only|Notification not yet read|
|sid|string|true|read-only|Serialization id of the notification|
|type|string|true|read-only|Type "vote_up"|
|active_at|string(date-time)|true|read-only|Time when the notification was generated|
|discussion|[Discussion](#schemadiscussion)|false|read-only|if a discussion is voted up|
|post|[Post](#schemadpost)|false|read-only|if a post is voted up|
|comment|[Comment](#schemacomment)|false|read-only|if a comment is voted up|
