<h2 id="tocS_NotificationTypeConnectionAccept">NotificationTypeUserFollow</h2>
<!-- backwards compatibility -->
<a id="schemanotificationtypeuserfollow"></a>
<a id="schema_NotificationTypeUserFollow"></a>
<a id="tocSnotificationtypeuserfollow"></a>
<a id="tocsnotificationtypeuserfollow"></a>

```json
{
  "is_new": false,
  "sid": 16052906326300000000007190,
  "notification_type": "user_follow",
  "notification_active_at": "2020-11-14T17:52:20.967302+01:00",
  "follower": {}
}
```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|is_new|boolean|true|read-only|Notification not yet read|
|sid|string|true|read-only|Serialization id of the notification block|
|notification_type|string|true|read-only|Type "user_follow"|
|notification_active_at|string(date-time)|false|read-only|Time when the notification was generated|
|follower|[User](#schemauser)]|true|read-only|Follower user|

