<h2 id="tocS_NotificationTypeUnBlockedUser">NotificationTypeUnBlockedUser</h2>
<!-- backwards compatibility -->
<a id="schemanotificationtypeunblockeduser"></a>
<a id="schema_NotificationTypeUnBlockedUser"></a>
<a id="tocSnotificationtypeunblockeduser"></a>
<a id="tocsnotificationtypeunblockeduser"></a>

```json
{
  "is_new": true,
  "sid": 16053709616960000000063090,
  "notification_type": "unblocked_user",
  "notification_active_at": "2020-11-14T17:52:20.967302+01:00"
}
```

Example preview:

<%= image_tag "notification_types/unblocked_user.png" %>

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|is_new|boolean|true|read-only|True if the notification has been read, otherwise false|
|sid|string|true|read-only|Serialization id of the notification|
|notification_type|string|true|read-only|Type "unblocked_user"|
|notification_active_at|string(date-time)|true|read-only|Time when the notification was generated|
