---
title: SelfCommunity Developers

language_tabs: # must be one of https://git.io/vQNgJ
  - shell: cURL
  - javascript

toc_footers:
  - <a href='https://selfcommunity.com/free-trial/'>Sign Up for a new community</a>

includes:
  - api/index
  - api/authentication/intro
  - api/authentication/jwt.md.erb
  - api/authentication/oauth.md.erb
  - api/endpoints/dynamic_preference
  - api/endpoints/sso
  - api/endpoints/user
  - api/endpoints/locality
  - api/endpoints/category
  - api/endpoints/embed
  - api/endpoints/media
  - api/endpoints/discussion
  - api/endpoints/post
  - api/endpoints/comment
  - api/endpoints/feed
  - api/endpoints/notification.md.erb
  - api/endpoints/tag
  - api/endpoints/suggestion
  - api/endpoints/moderation
  - api/schemas/index
  - api/schemas/dynamic_preference
  - api/schemas/user
  - api/schemas/userPermission
  - api/schemas/userSettings
  - api/schemas/notification
  - api/schemas/notification_types/type_comment.md.erb
  - api/schemas/notification_types/type_connection_accept.md.erb
  - api/schemas/notification_types/type_connection_request.md.erb
  - api/schemas/notification_types/type_user_follow.md.erb
  - api/schemas/notification_types/type_voteup.md.erb
  - api/schemas/notification_types/type_mention.md.erb
  - api/schemas/notification_types/type_follow.md.erb
  - api/schemas/notification_types/type_blocked_user.md.erb
  - api/schemas/notification_types/type_unblocked_user.md.erb
  - api/schemas/notification_types/type_kindly_notice.md.erb
  - api/schemas/notification_types/type_deleted_for.md.erb
  - api/schemas/notification_types/type_collapsed_for.md.erb
  - api/schemas/notification_types/type_private_message.md.erb
  - api/schemas/notification_types/type_custom_notification.md.erb
  - api/schemas/targetedBannerVisibility
  - api/schemas/targeted_banner_types/targetedHtmlBanner
  - api/schemas/targeted_banner_types/targetedNotificationBanner
  - api/schemas/privateMessage
  - api/schemas/customNotification
  - api/schemas/blockedSettings
  - api/schemas/connectionRequest
  - api/schemas/incubatorCategory
  - api/schemas/locality
  - api/schemas/category
  - api/schemas/embed
  - api/schemas/media
  - api/schemas/moderatedUser
  - api/schemas/discussion
  - api/schemas/post
  - api/schemas/comment
  - api/schemas/search
  - api/schemas/feed
  - api/schemas/flag
  - api/schemas/flaggedContribution
  - api/schemas/vote
  - api/schemas/tag
  - api/errors
  - webhook/index


search: true

code_clipboard: true
---

# Introduction

Welcome to the SelfCommunity Developers documentation!

You'll find comprehensive documentation to work with SelfCommunity API and Webhooks.

The SelfCommunity API and Webhooks are **only available to Enterprise plan subscribers**. Find out more about the available SelfCommunity [plans](https://selfcommunity.com/pricing/).
