---
title: SelfCommunity API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell: cURL
  - javascript

toc_footers:
  - <a href='https://selfcommunity.com/free-trial/'>Sign Up for a new community</a>

includes:
  - authentication/intro
  - authentication/jwt
  - endpoints/sso
  - endpoints/user
  - endpoints/locality
  - endpoints/category
  - endpoints/embed
  - endpoints/media
  - endpoints/discussion
  - endpoints/post
  - endpoints/comment
  - endpoints/feed
  - endpoints/notification.md.erb
  - endpoints/tag
  - endpoints/suggestion
  - endpoints/moderation
  - schemas
  - schemas/user
  - schemas/userSettings
  - schemas/notification
  - schemas/notification_types/type_comment.md.erb
  - schemas/notification_types/type_connection_accept.md.erb
  - schemas/notification_types/type_connection_request.md.erb
  - schemas/notification_types/type_user_follow.md.erb
  - schemas/notification_types/type_voteup.md.erb
  - schemas/notification_types/type_mention.md.erb
  - schemas/notification_types/type_follow.md.erb
  - schemas/notification_types/type_blocked_user.md.erb
  - schemas/notification_types/type_unblocked_user.md.erb
  - schemas/notification_types/type_kindly_notice.md.erb
  - schemas/notification_types/type_deleted_for.md.erb
  - schemas/notification_types/type_collapsed_for.md.erb
  - schemas/notification_types/type_private_message.md.erb
  - schemas/notification_types/type_custom_notification.md.erb
  - schemas/targetedBannerVisibility
  - schemas/targeted_banner_types/targetedHtmlBanner
  - schemas/targeted_banner_types/targetedNotificationBanner
  - schemas/privateMessage
  - schemas/customNotification
  - schemas/blockedSettings
  - schemas/connectionRequest
  - schemas/incubatorCategory
  - schemas/locality
  - schemas/category
  - schemas/embed
  - schemas/media
  - schemas/discussion
  - schemas/post
  - schemas/comment
  - schemas/search
  - schemas/feed
  - schemas/flag
  - schemas/flaggedContribute
  - schemas/vote
  - schemas/tag
  - errors


search: true

code_clipboard: true
---

# Introduction

Welcome to the SelfCommunity API! You can use our API to access SelfCommunity API endpoints!!

We have language bindings in Shell and JavaScript! You can view code examples in the dark area to the right, and you can switch the programming language of the examples with the tabs in the top right.
